/* #region RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion */

/* #region DEBUG */
/* .row, .row > * {
    border: 2px dashed black;
} */
/* #endregion */ 

/* #region LAYOUT */
.container-xl{
    max-width: 1140px;
    margin: 0px auto;
}

.row{
    display: flex;
}

.col-g1{
    flex-grow: 1;
}

.col-g1half{
    flex-grow: 1.5;
}

.col-33{
    width: calc(100% / 3 - 10px);
}
/* #endregion */

/* #region GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif
}

li{
    list-style: none;
    margin-right: 10px;
}

li:hover{
    text-decoration: underline;
}

ul{
    display: flex;
}

i{
    cursor: pointer;
}
/* #endregion */

/* #region HEADER */
header{
    background-color: #FF6900;
    color: white;
    padding: 14px 0px;
    box-shadow: 0px 1px 3px black;
}

header .row{
    align-items: center;
    justify-content: space-between;
}

header img{
    vertical-align: middle;
}

.user-util{
    text-align: end;
}

header li{
    font-weight: 700;
}

.Logo{
    max-width: 120px;
}

header i{
    margin: 0px 4px;
}
/* #endregion */

/* #region MAIN */
main{
    padding: 5px 0px;
}

main .row{
    margin: 20px 0px;
    justify-content: space-between;
}

main img{
    max-width: 100%;
}

.brand{
    font-size: small;
}

.price{
    font-size: smaller;
    font-weight: 600;
    color: red;
}

.price > span{
    color: black;
    text-decoration: line-through;
    font-weight: 100;
}

.notdisc{
    color: black;
    /* il prezzo non scontato rosso non mi piace ♥ */
}

.card{
    position: relative;
}

.figtags{
    position: relative;
}

.info{
    margin-top: 2px;
}

/* heart */
.save{
    position: absolute;
    top: 7%;
    right: 0px;
    background-color: white;
    padding: 8px;
}

.save:hover > i{
    color: red;
    transition: 0.3s;
}

/* img hover */
.hov2{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.card:hover .hov2{
    z-index: 1;
}

.save, .tags{
    z-index: 10;
}

/* tags */
.tags{
    position: absolute;
    bottom: 10%;
}

.tag{
    font-size: smaller;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
}

.discount{
    background-color: red;
}

.sust{
    background-color: #008000;
}
/* #endregion */

/* #region FOOTER */
footer{
    background-color: #1A1A1A;
    color: white;
    padding: 20px 0px;
}

footer li{
    font-size: 14px;
}

h4{
    margin-bottom: 10px;
}

footer .row{
    justify-content: space-between;
}

.find-us{
    text-align: end;
}

footer i{
    margin-top: 6px;
    font-size: 20px;
}

/* #endregion */

